<% include partials/header %>
<script type="text/javascript" src="../modal.js"></script>
<!-- Tealium Universal Data Object -->
<script type="text/javascript">
  var utag_data={
      "page_name"      : "new listing",
      "page_type"      : "form",
      "event_name"     : "page load"
  };
</script>

<div class="container" style="background-color: gainsboro">
  <div class="row">
    <h1 class="well well-sm" style="text-align: center;"> Add a New Location! </h1>
    <div style="width: 30%; margin: 25px auto;">

      <!-- new location form -->
      <form action="/locations" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="discription" placeholder="discription">
          </div>
        <div class="form-group">
          <button class="btn btn-lrg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a class="btn btn-info btn-med" href="/">Go Back</a>

      <!-- Modal button -->
      <button class="btn btn-info btn-med" onclick="openModal()">More Info</button>

      <!-- Modal body -->
      <dialog id="moreInfo">
        <div class="modal-body">
          <p> Noodle horse he made many woofs taste wow waggy wags pats, stop it fren heckin puggo you are doin me a concern heckin angery woofer heck. </p>
          <button class="btn btn-info btn-med" onclick="closeModal()">Close</button>
        </div>
      </dialog>

    </div>
  </div>

  <!-- Modal JavaScript -->
  <script>
    // Open Modal
    function openModal() {
      document.getElementById("moreInfo").showModal();
    }

    // Close Modal
    function closeModal() {
      document.getElementById("moreInfo").close();
    }
  </script>

</div>

<% include partials/footer %>
